.card {
  padding: 10px;

  border-radius: 10px;

  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);

  min-width: 240px;
  width: 100%;
  max-width: 400px;
  min-height: 290px;
  height: 100%;
  max-height: 470px;
}
